<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="bitcamp.pms.dao.ProjectDao">
  <resultMap type="Project" id="ProjectMap">
    <id     column="PNO"    property="no"/>
    <result column="SDT"  property="startDate"/>
    <result column="EDT"    property="endDate"/>
    <result column="STAT"    property="state"/>
    <result column="DESCT"    property="description"/>
  </resultMap>
  
  <insert id="insert" parameterType="Project">
    insert into PROJECTS(TITLE,SDT,EDT,DESCT) 
    values(#{title},#{startDate},#{endDate},#{description})
  </insert>
  
  <update id="update" parameterType="Project">
    update PROJECTS set 
      TITLE=#{title}, 
      SDT=#{startDate}, 
      EDT=#{endDate}, 
      DESCT=#{description}, 
      STAT=#{state}
    where PNO=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from PROJECTS 
    where PNO=#{no}
  </delete>

  <select id="selectList" resultMap="ProjectMap">
    select PNO, TITLE, SDT, EDT, STAT 
    from PROJECTS
    order by PNO DESC
  </select>
  
  <select id="selectOne" resultMap="ProjectMap">
    select PNO, TITLE, SDT, EDT, STAT, DESCT 
    from PROJECTS
    where PNO=#{no}
  </select>
</mapper>












